body {
  background-image: url("background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: middle;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: #333;
  opacity: 0;
  animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.baslik {
  font-size: 80px;
  color: #fff;
  text-shadow: 0px 0px 9px rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  margin-top: 400px;
}
